<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'vets')}">

    <body class="container">
          <style>
            .btn-primary{
                height: 30px;
                outline: none !important;
                border: none;
                border-radius: 20px;
                margin-bottom:10px;
                margin-left: 15px;
                color: white;
            }
            
            th {
                            }
        </style>
        <div class="row text-center">
             <h1 >Informacion del Veterinario</h1>
        </div>
   
  
  
    <table style="margin:auto; width:60%" class="table table-striped" th:object="${vet}">
      <tr>
        <th th:text="#{Name}">Name</th>
        <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
      </tr>
    <tr>
        <th th:text="#{Special}">Specialities</th>
        <td th:text="*{specialty}" /></td>
      </tr>
       <tr>
        <th th:text="#{Telephone}">Telephone</th>
        <td th:text="*{telephone}" /></td>
      </tr>
      <tr>
        <th th:text="#{Hour}">Schedule</th>
        <td th:text="*{schedule}" /></td>
      </tr>
     
    </table>
        <div class="row text-center">
             <a th:text="'Editar Vet'" th:href="@{ {id}/edit(id=${vet.id})}" class="btn btn-primary">
                Editar 
            </a>
            <a th:text="'Eliminar Vet'" th:href="@{ {id}/delete(id=${vet.id})}" class="btn btn-primary">
                Eliminar
            </a>
        </div>
  
      
  </body>

</html>
