<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    th:replace="~{fragments/layout :: layout (~{::body},'rep')}">

<body class="container">
    <style>
        th {
            background-color: #286090 !important;
            color: white;
        }

        .btn,
        .btn-primary {
            outline: none !important;
            border: none;
            border-radius: 20px;
            color: white;
        }

        .selection {
            border-color: #286090;
        }
    </style>

    .btn-default {
    background-color: #29B6F6;
    }
    </style>

    <div class="row text-center">
        <span th:object="${specialtie}">
            <a class="h1" th:text="#{especialidad}"></a>
        </span>
    </div>

    <div class="row">
        <div class="col-lg-5 col-sm-4">
        </div>
        <div class="col-lg-4 col-sm-6 selection">
            <h4 />
            <a th:text="'Ver por: ' + ${specialtie}" href="#" class="dropdown-toggle h4" data-toggle="dropdown"
                role="button" aria-haspopup="true" aria-expanded="false">Ver por:</a>
            <ul class="dropdown-menu">
                <li>
                    <a th:text="#{verTodo}" th:href="@{/appointment/report/-2}" class="btn" />
                </li>
                <li>
                    <a th:text="#{confirmado}" th:href="@{/appointment/report/-1}" class="btn" />
                </li>
                <li>
                    <a th:text="#{noConfirmado}" th:href="@{/appointment/report/0}" class="btn" />
                </li>
                <li th:each="specialtie : ${allSpecialties}">
                    <a th:text="${specialtie.nombre}" th:href="@{/appointment/report/__${specialtie.id}__}"
                        class="btn"></a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 text-left">

        </div>
    </div>
    <div class="row">

        <table style="margin:auto; width:80%" id="vets" class="table table-striped">
            <thead>
                <tr>
                    <th th:text="#{numeroCita}"></th>
                    <th th:text="#{fecha}"></th>
                    <th th:text="#{hora}"></th>
                    <th th:text="#{mascota}"></th>
                    <th th:text="#{confirmacion}"></th>
                    <th th:text="#{especialidad}"></th>
                    <th th:text="Especialista"></th>
                    <th th:text="Confirmar"></th>
                    <th th:text="AddReceta" style="width: 150px;"></th>
                    <th th:text="VerRecetas" style="width: 150px;"></th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="appointments : ${allAppointments}">
                    <td th:text="${appointments.id}" />
                    <td th:text="${appointments.fecha}" />
                    <td th:text="${appointments.hora}" />
                    <td th:each="pet : ${allPets}" th:if="${pet.id == appointments.mascota}"
                        th:text="' '+ ${pet.name}" />
                    <td th:if="${appointments.confirmacion == 0}" style="color: red;" th:text="#{noConfirmado}" />
                    <td th:unless="${appointments.confirmacion == 0}" style="color: green;" th:text="#{confirmado}" />
                    <td th:each="specialtie : ${allSpecialties}" th:if="${specialtie.id == appointments.especialidad}"
                        th:text="${specialtie.nombre}" />
                    <td th:text="${appointments.especialista}" />
                    <td> <a th:text="Confirmar" th:href="@{/appointments/especialista/__${appointments.id}__}"
                            class="btn btn-default"></a> </td>
                    <td> <a th:text="AddReceta" th:href="@{/citas/receta/__${appointments.id}__}"
                            class="btn btn-default"></a> </td>
                    <td> <a th:text="VerRecetas" th:href="@{/recetas/ver}" class="btn btn-default"></a> </td>
                </tr>
            </tbody>
        </table>
    </div>


</body>

</html>