<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout_owner :: layout (~{::body},'home')}">
    <body>

        <div style="display:flex"><h1 style="margin:auto; margin-top: 20px; margin-bottom:20px;" th:text="#{Productos}"></h1></div>

        <div class="container" style="margin-bottom: 20px">
            <div class="row text-right">
                <a th:href="@{agregados}" class="btn btn-primary" >Ver productos agregados</a>
            </div>
        </div>
        
        <div class="container">         
            <div class="row">
                <div th:each="product : ${allProducts}">  
                    <div class="col-xs-18 col-sm-4 col-md-3">
                        <div class="thumbnail">
                            <img th:src="@{${product.photo}}">
                            <div class="caption">
                                <h4 th:field="*{name}" class="inline" th:text="${product.name}"><span class="glyphicon glyphicon-th-large"></span>Thumbnail label</h4>
                                <p th:field="*{price}" style="float: left;">$</p><p th:text=" ${product.price}"/>                                    
                                <p th:text="${product.description}">Lorem ipsum dolor sit amet, lat. Consece odio similique suscipit</p>
                                <a th:href="@{seleccionarProducto/{productId}(productId=${product.id})}" 
                                   class="btn btn-info" >Agregar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>