<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout_owner :: layout (~{::body},'home')}">
    <body>

        <div style="display:flex"><h1 style="margin:auto; margin-top: 20px; margin-bottom:20px;" th:text="#{Productos}"></h1></div>

        <div class="container" style="margin-bottom: 20px">
            <div class="row text-right">
                <a th:href="@{compras}" class="btn btn-success" >Ver las compras realizadas</a>
            </div>
        </div>
        <div class="container" style="margin-bottom: 20px">
            <div class="row text-right">
                <a th:href="@{agregados}" class="btn btn-primary" >Ver productos agregados </a>
            </div>
        </div>

        <div class="container">         
            <div class="row">
                <div th:each="product : ${allProducts}">  
                    <form th:action="@{seleccionarProducto/producto}" th:object="${carrito}" method="post">
                        <div class="col-xs-18 col-sm-4 col-md-3">
                            <div class="thumbnail">
                                <img th:src="@{${product.photo}}">
                                <div class="caption">
                                    <h4 class="inline" th:text="${product.name}"><span class="glyphicon glyphicon-th-large"></span>Thumbnail label</h4>
                                    <p style="float: left;">$</p><p th:text=" ${product.price}"/>                                    
                                    <p th:text="${product.description}">Lorem ipsum dolor sit amet, lat. Consece odio similique suscipit</p>
                                    <div style="margin-bottom:  4px; margin-top: 4px; width: 77px;">
                                        <input type="number" th:min="1" th:max="${product.existence}" 
                                               th:field="*{cantidad}" class="form-control"/>
                                    </div>                                  
                                    <button class="btn btn-info" >Agregar</button>
                                    <select th:field="*{product.id}" style="visibility: hidden; display: inline;">
                                        <option th:value="${product.id}">Tarjeta</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>