<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout_owner :: layout (~{::body},'home')}">
    <body>

        <div style="display:flex"><h1 style="margin:auto; margin-top: 20px; margin-bottom:20px;">Productos agregados</h1></div>

        <div class="container" style="margin-bottom: 20px">
            <div class="row text-left" style="margin-left: 3px">
                <a th:href="@{listaproductos}" class="btn btn-primary btn-sm" >Seguir agregando</a>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                                <th>Subtotal</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="carrito:${productosSeleccionados}">
                                <td th:text="${carrito.product.name}"/>
                                <td th:text="${carrito.cantidad}"/>
                                <td>                              
                                    <p style="float: left;">$</p><p th:text="${carrito.product.price * carrito.cantidad}"><p/>                           
                                </td>
                                <td>
                                    <a th:href="@{quitarProductos/{carritoId}(carritoId=${carrito.id})}" class="btn btn-danger">X</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-md-3">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Información de compra</h3>
                        </div>
                        <div class="panel-body">
                            <div style="display: flex;">
                                <div> 
                                    <strong>Total</strong>
                                </div>
                                <div style="margin-left: 110px">
                                    <p style="float: left;">$</p><p style="float: right;" th:text="${totalCompra}"><p/>  
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="text-center">
                                <div th:if="${hayProductos} == true">
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Realizar pago</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                           
            </div>
            <div class="row">
                <form th:action="@{agregados/pago}" th:object="${venta}" method="post">
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Información de pago</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <div style="display: flex; margin-bottom: 30px; margin-top: 20px;">
                                            <div> 
                                                <strong>Cantidad de productos</strong>
                                            </div>
                                            <div style="margin-left: 200px;">
                                                <p th:text="${numeroProductos}" ><p/>   
                                            </div>                                     
                                        </div>
                                        <div style="display: flex; margin-bottom: 30px;">
                                            <div> 
                                                <strong>Total a pagar</strong>
                                            </div>                                       
                                            <div style="margin-left: 250px;">
                                                <p style="float: left;">$</p><p style="float: right;" th:text="${totalCompra}"><p/>                                            
                                            </div>                                    
                                        </div>
                                        <div style="display: flex; margin-bottom: 30px;">
                                            <div> 
                                                <strong>Método de pago</strong>
                                            </div>                                       
                                            <div style="margin-left: 220px;">
                                                <select class="form-control" th:field="*{metodopago}">
                                                    <option value="Tarjeta">Tarjeta</option>
                                                    <option value="PayPal">Paypal</option>
                                                    <option value="Transferencia">Transferencia</option>
                                                </select>
                                            </div>                                    
                                        </div>
                                        <select class="form-control" th:field="*{total}" style="visibility: hidden; display: inline;">
                                            <option th:value="${totalCompra}">Tarjeta</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-success">Ejecutar compra</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>