<html xmlns:th="http://www.thymeleaf.org" 
    th:replace="~{fragments/layout :: layout (~{::body},'medicamento')}">

  <body>
    <style>
        th {
           background-color:  #286090 !important;
            color: white;
        }
        table{
            border-radius: 50px;
        }
    </style>
    <div class="row text-center">
        <h1 class="h1" th:text="#{meds}"></h1>
    </div>
    
    <div style="width: 100%;display: flex">
        <table style="margin:auto; width:70%" id="medicamentos" class="table table-striped">
            <thead>
            <tr>
                <th th:text="#{fn}" >Name</th>
                <th th:text="#{inact}">Ing Act</th>
                <th th:text="#{prest}" >Presentation</th>
            </tr>
            </thead>
            <tbody>
              <tr th:each="medicamento : ${selections}">
                  <td>
                      <a th:href="@{/medicamento/__${medicamento.id}__}" th:text="${medicamento.nombre}"/></a>
                  </td>
                  <td th:text="${medicamento.ingrediente_activo}"/>
                  <td th:text="${medicamento.presentacion}"/>      
              </tr>
            </tbody>
        </table>
    </div>
  </body>
</html>
