<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">


    <body class="container">

        <style>
            .btn{
                border-radius: 20px;
                color: white;
            }
            form{
                padding-left:10px;
                padding-right: 10px;
            }
            @media only screen and (max-width: 760px) {
                img{
                    width: 0%;
                }
            }
        </style>
        <!--<script type="text/javascript" src="jquery-3.3.1.min.js"></script>-->
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->

        <div class="row text-center">
            <h1 class="h1">Agregar nueva cita</h1>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8  text-center">
                <div class="col-lg-4"></div>
                <form th:object="${citas}" class="form-horizontal col-lg-8" id="add-owner-form" method="post">
                    <div class="form-group has-feedback">
                        <input th:replace="~{fragments/inputField :: input ('Fecha', 'fecha', 'date')}" />

                        <input th:replace="~{fragments/inputField :: input ('Hora', 'hora', 'time')}" />
                        <div>
                            Especialidad:
                            <select th:field="*{especialidad}">
                                <span th:each="especialidad : ${especialidades}">
                                    <option  th:value="${especialidad.id}" th:text="${especialidad.name}"/>
                                </span>
                            </select>
                        </div>

                        <br>
                        Owner:
                            <select th:field="*{owner}">
                                <span th:each="owners : ${idowner}">
                                    <option  th:value="${owners.id}" th:text="${owners.firstName}"/>
                                </span>
                            </select>
                        <!--<div class="">
                            Owner:
                            <select th:field="*{owner}">
                                <span th:each="owners : ${idowner}">
                                    <option  th:value="${owners.id}" th:text="${owners.firstName}"/>
                                </span>
                            </select>

                        </div>
                        <br>
                        <div th:field="*{owner}">
                            <select th:field="*{mascota}" style="display:none">
                                <span th:each="mascota : ${mascotas}">
                                    <option  th:value="${mascota.id}" th:text="${mascota.name}"/>
                                </span>
                            </select>
                        </div>-->
                        
                        
                        <select th:field="*{mascota}" style="display:none">
                            <span th:each="mascota : ${mascotas}">
                                <option  th:value="${mascota.id}" th:text="${mascota.name}"/>
                            </span>
                        </select>
                        <!--<input
                            th:replace="~{fragments/inputField :: input ('Confirmacion', 'confirmacion', 'checkbox')}" />-->

                    </div>

                    <div class="form-group">
                        <div class="">
                            <button id="btn"th:with="text=Cita" class="btn btn-primary" type="submit" th:text="Siguiente">Add Cita</button>
                        </div>
                    </div>

                </form>   
            </div>
            <div class="col-md-2 text-center">
                <img  src="../../static/resources/images/veterinario.png" th:src="@{/resources/images/veterinario.png}" height="400px" alt="">
            </div>
        </div>
    </body>
</html>
