<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html
    th:replace="~{fragments/layout :: layout (~{::body},'update_delete')}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
                <style>
            button, .btn-primary{
                outline: none !important;
                border: none;
                border-radius: 20px;
                color: white;
                width: auto;
                padding: 10px 15px;
            }
            input{
                width: 90%;
                height: 40px;
                border-radius: 5px;
                border-color: #B3E5FC;
                border-style: groove;
            }
            
            
        </style>
        
        <div style="display:flex">
            <h1 style="width:100%; text-align: center; margin-top: 20px" class="h1">
                Actualizar usuario</h1>
        </div>
        <div class="alert alert-danger" role="alert" th:if="${exitsError}">
           Existen valores que causan conflictos, revisalos
        </div>
        <div class="col-xs-13 col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-13 col-sm-5 col-md-5 col-lg-6">
            <form th:object="${user}"  class="form-horizontal" th:action="@{/user/update/__${user.id}__}"  id="form" method="post">
                <div class="form-group has-feedback">
                    <h4 class="h4 ">Email: </h4>
                    <input class="" id="email"
                            type="text" 
                            th:value="${user.email}"
                            th:field="*{email}">
                    </div>
                     <div class="form-group has-feedback">
                    <h4 class="h4 ">Nombre : </h4>
                   
                    <input id="first_name"
                            type="text" 
                            th:value="${user.firstName}" 
                            th:field="*{firstName}">
                    </div>
                        
                        <div class="form-group has-feedback">
                    <h4 class="h4 ">Apellidos : </h4>
                   <input 
                            id="last_name"
                            type="text" 
                            th:value="${user.lastName}" 
                            th:field="*{lastName}">
                    </div>
                        
                    <div class="form-group has-feedback">
                    <h4 class="h4 ">Contraseña: </h4>
                   <input 
                            type="password" 
                            th:value="${user.password}"
                            th:field="*{password}">
                    </div>
                 <div class="form-group has-feedback">
                    <h4 class="h4 ">Activo: </h4>
                  <input
                            id="active"
                            type="text" 
                            th:value="${user.active} == 1? 'Si': 'No'"  
                            th:field="*{active}">
                    </div>
                <div class="form-group has-feedback">
                    <h4 class="h4 ">Ciudad: </h4>
                  <input
                            id="active"
                            type="text" 
                            th:value="${user.city}"  
                            th:field="*{city}">
                    </div>
                <div class="form-group has-feedback">
                    <h4 class="h4 ">Zipcode: </h4>
                  <input
                            id="zipcode"
                            type="text" 
                            th:value="${user.zipcode}"  
                            th:field="*{zipcode}">  
                    </div>
                <div class="form-group has-feedback">
                    <h4 class="h4 ">Telefono:  </h4>
                  <input id="telephone"
                            type="text" 
                            th:value="${user.telephone} == ''? 'Sin numero telefononico': ${user.telephone}"  
                            th:field="*{telephone}">   
                    </div>
               
                <br>
                <div class="row text-center">
                    <input class="btn btn-primary" type="submit" value="Guardar cambios" >
                </div>
                <br>
                <br>
                
            </form>
        </div>
    </body>
</html>
