<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'error')}">

    <body class="container">
        <style> 
        </style>
        <div class="row text-center">
            <img style="width: 30%;" src="../static/resources/images/error.gif" th:src="@{/resources/images/error.gif}"/>
        </div>
        <div class="col-12 text-center">
            <h1>Hubo un error al cargar la pagina</h1>
            <p class="h2" th:text="${message}">Exception message</p>
        </div>
    
  </body>

</html>