<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout_owner :: layout (~{::body},'home')}">
<style> 
  
</style>
<body>
<div class="container-fluid" >
    <div class="row text-center">
        <div style="margin-top:40px; margin-left:10%">
            <h1 class="h1" style="font-family: 'Signika', sans-serif;">Bienvenido a <span class="title-soft">PetCare</span></h1>
            <h3 class="h3" style="margin-top:20px; margin-bottom:10%">Dueño</h3>
        </div>
    </div>

    <div class="row text-left">
            <img class="img-welcome" style="position:fixed; height:50%; right:0; bottom:0;" src="../static/resources/images/Modern_woman.svg" th:src="@{/resources/images/Modern_woman.svg}"/>
    </div>
</body>
</html>